@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Inter Tight", serif;
}
/* Scrollbar customization */
/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
